chromadb==0.5.0
langchain==0.2.1
langchain-chroma==0.1.1
langchain-community==0.2.1
langchain-core==0.2.3
langchain-openai==0.1.7
python-dotenv==1.0.1
streamlit==1.35.0
tenacity==8.3.0
beautifulsoup4==4.12.3
faiss-cpu==1.8.0